.path-mod-syllabus .syllabuscontent {
    text-align: center;
}

.path-mod-syllabus .syllabusdetails {
    font-size: 0.8em;
    color: #555;
}

.syllabuslinkdetails {
    font-size: 0.8em;
    color: #555;
}
