{{=<% %>=}}
    <button ion-button [core-download-file]="{fileurl: '<% file.fileurl %>', timemodified: '<% file.timemodified %>', filesize: '<% file.size %>'}" component="mod_syllabus" componentId="<% cm.id %>">Test</button>
