{{=<% %>=}}
    <core-file [file]="{fileurl: '<% file.fileurl %>', filename: '<% file.filename %>', timemodified: '<% file.timemodified %>', filesize: '<% file.size %>'}" component="mod_syllabus" componentId="<% cm.id %>"></core-file>
